# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#

defaults: &defaults
  docker:
    # specify the version you desire here
    - image: circleci/node:8.7.0-browsers

  working_directory: ~/repo
version: 2
jobs:
  deploy:
    <<: *defaults
    steps:
      - checkout

      # add ssh keys
      - add_ssh_keys:
          fingerprints:
            - "dd:43:02:18:87:aa:70:be:a6:f6:80:33:68:ca:3b:b3"

      - run: yarn
      - run: npm run build
      
      # prepare remote directories for deployment
      - run: ssh "$DROPLET_CREDENTIALS" "rm package.json && rm -rf ./public && rm -rf ./server && rm -rf ./node_modules && mkdir -p public"

      # deploy to dev and install
      - run: sftp -b ./package.json "$DROPLET_CREDENTIALS"
      - run: sftp -b ./public "$DROPLET_CREDENTIALS"
      - run: sftp -b ./server "$DROPLET_CREDENTIALS"

      - run: ssh "$DROPLET_CREDENTIALS" "cd $DROPLET_DEPLOY_PATH && rm -rf node_modules && yarn && pm2 restart realm"
workflows:
  version: 2
  build-deploy:
    jobs:
      - deploy:
          filters:
            branches:
              only: master
